.productsContainer {
    height: 40rem;
    display: grid;
    place-items: center;
    margin-top: 6rem;
}
.productsSubContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 90%;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #FFCC00;
    height: 40em;
}
.productCards {
    width: 30rem;
    height: 80%;
    background-color: white;
}